<h1>PHOTOGUR (<%= @pictures.length %>)</h1>
<%= link_to "New Pictures", "/pictures/new" %>

<% @pictures.each do |picture| %>
	<div class="container">
		<p><%= picture[:title] %>,</p> 
		<p><%= picture[:artist] %></p>
		<%= link_to image_tag(picture.url), 
		"/pictures/#{picture.id}" %>
	</div>
<% end %>
